* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-wrap: wrap;
    
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    margin: auto;
}

.botoesControle{
    display: flex;
    width: 100%;
    
    .btn{
        width: 10rem;
        height: 3rem;
        margin: 1rem;
    }
}

#selec-algoritmos{
    height: 3rem;
    width: 15rem;
    margin: 3rem 2rem;
}


#visualizador{
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    #contador-passos{
        position: absolute;
        top: 50%;
        right: 40%;
        height: 3rem;
    }

    #container-lista {
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        height: 80%;
        width: 80%;
        border: 1px solid #000;
        margin-top: 20px;

        .barra {
            width: 20px;
            background-color: #4caf50;
            transition: height 0.5s ease;
        }

        .ativo {
            background-color: #f44336;
        }
    }

    .sliders{
        height: 300px;
        width: 5rem;
        margin: 1rem;
        display: flex;
        align-items: center;

        .slider-container{
            position: relative;
            height: 300px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .slider-header{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 1rem;
            }

            .slider-wrapper{
                position: relative;
                height: 100%;
                display: flex;
                align-items: center;

                input[type="range"]{
                    appearance: none;
                    transform: rotate(-270deg);
                    transform-origin: center;
                    width: 300px;
                    height: 1rem;
                    background: #ddd;
                    margin: 0;
                }

                .slider-marks{
                    position: absolute;
                    right: 7rem;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    font-size: 1rem;
                }
            }

            
        }

        
    }
}

