/* Variáveis */
:root{
    font-size: 16px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-wrap: wrap;
    
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    margin: auto;
}

.botoesControle{
    display: flex;
    width: 100%;
    
    .btn{
        width: 10rem;
        height: 3rem;
        margin: 1rem;
    }
}

#selec-algoritmos{
    height: 3rem;
    width: 15rem;
    margin: 3rem 2rem;
}


#visualizador{
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    .container-contador{
        width: 80%;
        #contador-passos{
        
        }

        #container-lista {
            position: relative;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            height: 80%;
            
            border: 1px solid #000;
            margin-top: 20px;
    
            .barra {
                width: 20px;
                background-color: #4caf50;
                transition: height 0.5s ease;
            }
    
            .ativo {
                background-color: #f44336;
            }
        }
    }
    

    .slider-box{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        margin: 1rem;

        label{
            text-align: center;
            margin-bottom: 1rem;
        }

        #slider-track-velocidade, #slider-track-quantidade{
            display: flex;
            height: 100%;
            width: 100%;
            flex-direction: column;
            justify-content: space-between;
        }

        input[type="range"]{
            writing-mode: vertical-rl;
            height: 50%;
        }
    }
}

